%script#person_show{:type => "text/html"}
  %li
    %p.name
      {{ name }}

%script#person_index.partial{:type => "text/html"}
  %li
    %p.name
      {{name}}


%script#people{:type => "text/html"}
  %ul
    {{#models}}
    {{#attributes}}
    {{> person_index}}
    {{/attributes}}
    {{/models}}
