%script#person_show{:type => "text/x-jquery-tmpl"}
  %li
    %p.name
      ${name}

%script#person_index{:type => "text/x-jquery-tmpl"}
  %li
    %p.name
      ${attributes.name}


%script#people{:type => "text/x-jquery-tmpl"}
  %ul
    {{tmpl(models) "#person_index"}}
